name: country_picker_plus
description: Countries, codes, flags and several way of picking them at your service...one widget away...
version: 1.0.0
homepage: https://github.com/AhmadKolagha9/country_picker_plus
repository: https://github.com/AhmadKolagha9/country_picker_plus

environment:
  sdk: '>=3.3.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  assets:
    - assets/
